flask-sqlalchemy
flask-migrate
flask-login
flask-bootstrap
flask-mail
flask-moment
jsonify
requests
numpy
sklearn
scikit-learn==0.22.2.post1
flask-wtf
pyjwt
pandas
email-validator 
keras
tensorflow
mysqlclient
